.advantages {
  margin-bottom: 29px;
}

.advantages__text {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 26px;
}

.advantages__list {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #eeeeee;

  @include clearlist();

  counter-reset: section;

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 320px;
    height: 16px;
    margin-left: -160px;
    content: "";

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.advantages__item {
  margin: 0 20px;
  padding-top: 26px;

  &:nth-child(4) {
    padding-top: 28px;

    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
  }

  &:first-child {
    padding-top: 57px;
  }

  /* Элемент списка с фото */

  &--photo {
    margin: 0;
    padding-top: 40px;

    color: #ffffff;

    background-color: #81b3d2;
  }

  &--photo .advantages__description {
    max-width: 270px;
    margin-bottom: 40px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
}

.advantages__description {
  position: relative;
  max-width: 258px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 21px;

  /* Счетчик преимуществ */

  &::before {
    position: absolute;
    counter-increment: section;
    content: "\2013  №" counter(section) " \2013";
    top: -36px;
    left: 50%;
    margin-left: -23px;

    font-size: 14px;
    line-height: 21px;
  }
}

.advantages__img {
  display: block;
  width: auto;
  height: 260px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 56px;
  }

  .advantages__text {
    max-width: 636px;
    margin-bottom: 49px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &::after {
      display: none;
    }
  }

  .advantages__item {
    width: 256px;
    margin: 0;
    padding-top: 44px;

    &:first-child {
      padding-top: 0;
    }

    &:nth-child(4) {
      padding-top: 44px;
      border: none;
    }

    &--photo {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-top: 0;
    }

    &--photo:nth-child(2) {
      flex-direction: row-reverse;
    }

    &--photo .advantages__description {
      max-width: 170px;
    }
  }

  .advantages__item-wrapper {
    width: 256px;
    margin: 0 auto;
    padding-top: 44px;
  }

  .advantages__title {
    max-width: 151px;
    margin: 0 auto;
    margin-bottom: 53px;

    font-size: 21px;
    line-height: 26px;
  }

  .advantages__description {
    max-width: 158px;
    margin-bottom: 45px;

    &::before {
      top: -43px;
    }
  }

  .advantages__img {
    height: 256px;
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    width: 400px;

    &--photo {
      width: 100%;
    }

    &--photo .advantages__description {
      max-width: 250px;
    }

    &:first-child .advantages__description {
      max-width: 270px;
    }
  }

  .advantages__item-wrapper {
    width: 400px;
    margin: 0;
    padding-top: 52px;
  }

  .advantages__description {
    max-width: 290px;
    margin-bottom: 65px;
  }
}
