.button {
  display: block;

  background-color: #81b3d2;

  &:hover,
  &:focus {
    background-color: #669ec0;

    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}
