.copyright__link {
  position: relative;
  padding-right: 41px;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 26px;

  color: inherit;

  text-decoration: none;

  &::after {
    position: absolute;
    top: -6px;
    right: 0;
    width: 27px;
    height: 34px;
    content: "";

    background-image: url("../img/logo-htmlacademy.svg");
  }
}

@media (min-width: 768px) {
  .copyright {
    display: flex;
    width: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .copyright__link::after {
    top: -2px;
  }
}
