.features {
  background-color: #ffffff;
}

.features__list {
  display: flex;
  flex-direction: column;

  @include clearfix();
  padding: 38px 0;

  text-align: left;
}

.features__item {
  margin-left: 70px;
}

.features__title {
  margin: 0;
  margin-top: 36px;
  padding: 0;

  @include font-size-set(18px, 26px);
}

.features__item:first-child .features__title {
  margin-top: 0;
}

.features__description {
  margin-top: 22px;
  margin-left: 2px;
  margin-right: 28px;
  margin-bottom: 0;
  padding: 0;

  @include font-size-set(14px, 21px);
}
