.features {
  width: 100%;

  color: #000000;

  background-color: #ffffff;
}

.features__list {
  @include clearlist();

  max-width: 320px;
  margin: 0 auto;
  padding: 38px 0;

  text-align: left;
}

.features__item {
  width: 250px;
  margin-left: 70px;
}

.features__title {
  margin: 0;
  margin-top: 36px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
}

.features__item:first-child .features__title {
  margin-top: 0;
}

.features__description {
  max-width: 230px;
  margin: 0 auto;
  margin-top: 22px;
  margin-left: 2px;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: space-between;
    max-width: 768px;

    text-align: center;
  }

  .features__item {
    width: 256px;
    margin-top: 72px;
    margin-left: auto;
  }

  .features__title {
    margin: 0;
  }

  .features__description {
    max-width: 165px;
    margin-left: auto;
  }

  .features__item--gift {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .features__list {
    max-width: 1200px;
  }

  .features__item {
    width: 400px;
    margin-top: 75px;
  }
}
