.features {
  color: #000000;

  background-color: #ffffff;
}

.features__list {
  @include clearlist();
  padding: 38px 0;

  text-align: left;
}

.features__item {
  margin-left: 70px;
}

.features__title {
  margin: 0;
  margin-top: 36px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
}

.features__item:first-child .features__title {
  margin-top: 0;
}

.features__description {
  margin-top: 22px;
  margin-left: 2px;
  margin-right: 28px;
  margin-bottom: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .features__list {
    display: flex;
    flex-direction: space-between;

    text-align: center;
  }

  .features__item {
    width: 256px;
    margin: 0;
    margin-top: 72px;
  }

  .features__title {
    margin: 0;
  }

  .features__description {
    margin-left: 0;
    margin-right: 0;
    padding: 0 50px;
  }

  .features__item--gift {
    order: 2;
  }

  .features__item--gift .features__description {
    padding: 0 45px;
  }
}

@media (min-width: 1200px) {
  .features__item {
    width: 400px;
    margin: 0;
    margin-top: 75px;
  }

  .features__item--gift .features__description {
    padding: 0 104px;
  }
}
