.feedback {
  padding: 0 20px;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0;

  text-align: left;

  border: none;
}

.feedback__wrapper--full-name {
  flex-direction: row;
  align-items: baseline;
}

.feedback__wrapper--contacts .feedback__label {
  margin-left: 22px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
}

.feedback__label {
  margin: 0;
  margin-right: 14px;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
}

.feedback__label--radio,
.feedback__label--checkbox {
  align-items: baseline;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-transform: none;
}

.feedback__input {
  margin: 14px 0;
  padding: 17px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  background-color: #f2f2f2;
  border: none;
}

.feedback__input--radio,
.feedback__input--checkbox {
  margin-right: 23px;
}

.feedback__input--text {
  height: 160px;
  padding: 15px 20px;
}

.feedback__button {
  margin: 0 auto;
  margin-top: 30px;
  padding: 16px 33px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;

  text-transform: uppercase;

  border: none;
}
