.main-nav {
  position: relative;
  width: 320px;

  background-color: #81b3d2;
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 23px;
  height: 21px;

  background-color: transparent;
}
