.main-nav {
  margin-bottom: 56px;
  width: 320px;
}

@media (min-width: 768px) {
  .main-nav {
    margin: 0;
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }
}
