.my-player {
  width: 320px;
  margin: 0 auto;
}

.my-player__video {
  display: block;
  height: 200px;
}

.my-player__controls {
  position: relative;
  margin: 0 20px;

  background-color: #f2f2f2;
}

.my-player__progress-bar-wrapper {
  position: absolute;
  top: -43px;
  width: 100%;
  padding: 20px 22px;

  background-color: rgba(#000000, 0.6);
}

.my-player__progress-bar {
  position: relative;
  height: 3px;

  background-color: rgba(#dbdbdb, 0.2);
}

.my-player__slider {
  position: absolute;
  top: -4px;
  left: 36px;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
}

.my-player__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 23px;
}

.my-player__button {
  display: block;
  width: 16px;
  height: 20px;

  background: none;
  border: none;
}

.my-player__button--replay {
  margin-right: auto;
}

@media (min-width: 768px) {
  .my-player {
    width: 648px;
  }

  .my-player__video {
    height: 500px;
  }

  .my-player__controls {
    margin: 0;
    margin-top: -93px;
    padding: 36px 0;

    background-color: rgba(#000000, 0.6);
  }

  .my-player__progress-bar-wrapper {
    top: 45px;
    width: 389px;
    margin-left: 93px;
    padding: 0;

    background-color: transparent;
  }

  .my-player__buttons-wrapper {
    padding: 0 23px;
  }
}

@media (min-width: 1200px) {
  .my-player {
    width: 800px;
  }

  .my-player__progress-bar-wrapper {
    width: 540px;
  }
}
