.page-header {
  min-width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.page-header__wrapper {
  position: relative;
  padding-top: 56px;

  box-shadow: 0 -1px 5px 1px rgba(001, 001, 001, 0.2);
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51px;
}

.page-header__logo-img {
  display: block;
}

.page-header__toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 23px;
  height: 21px;

  background-color: transparent;
  border: none;
}

.page-header__bg {
  height: 389px;

  background-color: #5b7683;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  /* Фон на внутренних страницах */

  &--inner {
    height: 160px;

    background-position: bottom;
    background-size: auto;
  }
}

@media (min-width: 768px) {
  .page-header__wrapper {
    position: static;
    padding: 0;

    box-shadow: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__bg {
    height: 518px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 100% 100%;

    /* Фон на внутренних страницах */

    &--inner {
      height: 291px;

      background-size: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 1200px;

    box-shadow: 0 -1px 1px #ffffff,
      -10px 0 7px -7px #dbdbdb,
      10px 0 7px -7px #dbdbdb;
  }

  .page-header__bg {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    /* Фон на внутренних страницах */

    &--inner {
      height: 302px;
    }
  }
}
