.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .page-footer {
    width: 648px;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 37px;
  }
}
