.page-main {
  padding-top: 42px;
}

.page-main__title {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 27px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
}

.page-main__slogan {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-main__text {
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-main {
    padding-top: 50px;
  }

  .page-main__title {
    margin-top: 24px;
    margin-bottom: 31px;

    font-size: 30px;
    line-height: 26px;
  }

  .page-main__slogan {
    max-width: 610px;
    margin-bottom: 30px;

    font-size: 21px;
    line-height: 26px;
  }

  .page-main__text {
    margin-bottom: 68px;

    max-width: 440px;
  }
}

@media (min-width: 1200px) {
  .page-main {
    padding-top: 49px;
  }
}
