.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
  }
}
