.page-main {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 42px;

  background-color: #ffffff;
}

.page-main__title {
  margin: 32px 0;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
}

.page-main__slogan {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-main__text {
  max-width: 277px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-main {
    padding-top: 50px;
  }

  .page-main__title {
    font-size: 30px;
    line-height: 26px;
  }

  .page-main__slogan {
    max-width: 610px;
    margin-bottom: 30px;

    font-size: 21px;
    line-height: 26px;
  }

  .page-main__text {
    max-width: 440px;
  }
}

@media (min-width: 1200px) {
  .page-main {
    width: 1200px;

    box-shadow: 0 -1px 1px #ffffff,
      -10px 0 7px -7px #dbdbdb,
      10px 0 7px -7px #dbdbdb;
  }
}
