.photo-gallery {
  margin-bottom: 32px;
}

.photo-gallery__list {
  @include clearlist();

  width: 320px;
  margin: 0 auto;

  border-top: 1px solid #e5e5e5;
}

.photo-gallery__item {
  padding: 0 20px;
  padding-top: 20px;

  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.photo-gallery__img {
  display: block;
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 16px;
}

.photo-gallery__title {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__autor {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;

  text-transform: none;
}

.photo-gallery__autor-name {
  font-style: normal;
}

.photo-gallery__button {
  position: relative;
  width: 65px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  text-align: left;

  background-color: transparent;
  border: none;
}

.photo-gallery__img-like {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 20px;

  border: none;
  opacity: 0.3;
}

.photo-gallery__num-like {
  margin-left: 36px;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .photo-gallery {
    margin-bottom: 67px;
  }

  .photo-gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;

    border: none;
  }

  .photo-gallery__item {
    display: flex;
    flex-direction: column;
    width: 324px;
    padding: 0;

    border: none;

    &:first-child {
      width: 100%;
    }

    &:first-child .photo-gallery__img {
      height: 400px;
    }

    &:nth-child(3n) .photo-gallery__wrapper {
      background-color: #eaeaea;
    }
  }

  .photo-gallery__img {
    height: 267px; /* временно */
    margin-bottom: 0;
  }

  .photo-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;

    background-color: #f2f2f2;
  }

  .photo-gallery__button {
    margin-bottom: 0;
  }

  .photo-gallery__autor {
    margin-bottom: 0;
  }

  .photo-gallery__num-like {
    margin-left: 32px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery {
    margin-bottom: 72px;
  }
  .photo-gallery__list {
    width: 100%;
    margin: 0;
  }

  .photo-gallery__item {
    width: 400px;

    &:nth-child(3n) .photo-gallery__wrapper {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .photo-gallery__wrapper {
    margin-top: -80px;
    padding-top: 15px;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-gallery__num-like {
    color: #ffffff;
  }
}
