.photo-gallery__list {
  @include clearlist();

  border-top: 1px solid #e5e5e5;
}

.photo-gallery__item {
  padding: 17px 20px;

  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.photo-gallery__img {
  display: block;
  width: 280px;
  height: auto;
  margin: 0 auto;
}

.photo-gallery__title {
  margin: 0;
  margin-top: 17px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__autor {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;

  text-transform: none;
}

.photo-gallery__autor-name {
  font-style: normal;
}

.photo-gallery__button {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.photo-gallery__img-like {
  position: absolute;
  width: 23px;
  height: 21px;

  vertical-align: middle;

  border: none;
}

.photo-gallery__num-like {
  margin-left: 36px;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .photo-gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;

    border: none;
  }

  .photo-gallery__item {
    display: flex;
    flex-direction: column;
    width: 324px;
    padding: 0;

    border: none;
  }

  .photo-gallery__item:first-child {
    width: 100%;
  }

  .photo-gallery__item:first-child .photo-gallery__img {
    height: 400px;
  }

  .photo-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;

    background-color: #f2f2f2;
  }

  .photo-gallery__title {
    margin-top: 0;
  }

  .photo-gallery__autor {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .photo-gallery__list {
    width: 100%;
    margin: 0;
  }

  .photo-gallery__item {
    width: 400px;
  }

  .photo-gallery__wrapper {
    margin-top: -80px;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-gallery__num-like {
    color: #ffffff;
  }
}
