.player {
  position: relative;
  width: 320px;
  height: 200px;
  margin: 0 auto;

  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.player__controls {
  position: absolute;
  bottom: -66px;
  width: 280px;
  margin: 0 20px;

  background-color: #f2f2f2;
}

.player__progress-bar-wrapper {
  position: absolute;
  top: -43px;
  width: 100%;
  padding: 20px 22px;

  background-color: rgba(#000000, 0.6);
}

.player__progress-bar {
  position: relative;
  height: 3px;

  background-color: rgba(#dbdbdb, 0.2);
}

.player__slider {
  position: absolute;
  top: -4px;
  left: 36px;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
}

.player__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 23px 17px;
}

.player__button {
  width: 32px;
  height: 20px;

  padding: 0;

  background: none;
  border: none;
  outline: none;

  &--subtitle {
    margin-left: auto;
    margin-right: 26px;
  }

  &:hover .player__icon,
  &:focus .player__icon {
    fill: #000000;
  }

  &:active .player__icon {
    fill: #b8b8b8;
  }
}

.player__icon {
  fill: #5c6870;
}

@media (min-width: 768px) {
  .player {
    width: 648px;
    height: 500px;

    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .player__controls {
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-top: -93px;
    padding-top: 36px;
    padding-bottom: 37px;

    background-color: rgba(#000000, 0.6);
  }

  .player__progress-bar-wrapper {
    top: 45px;
    width: 389px;
    margin-left: 93px;
    padding: 0;

    background-color: transparent;
  }

  .player__slider {
    left: 112px;
  }

  .player__buttons-wrapper {
    padding: 0 27px;
    padding-right: 35px;
  }

  .player__button:hover .player__icon,
  .player__button:focus .player__icon {
    fill: #ffffff;
    opacity: 0.6;
  }

  .player__button:active .player__icon {
    fill: #ffffff;
    opacity: 0.3;
  }

  .player__icon {
    fill: #ffffff;
  }
}

@media (min-width: 1200px) {
  .player {
    width: 800px;

    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .player__progress-bar-wrapper {
    width: 540px;
  }
}
