.player {
  width: 320px;
  margin: 0 auto;
}

.player__video {
  display: block;
  height: 200px;
}

.player__controls {
  position: relative;
  margin: 0 20px;

  background-color: #f2f2f2;
}

.player__progress-bar-wrapper {
  position: absolute;
  top: -43px;
  width: 100%;
  padding: 20px 22px;

  background-color: rgba(#000000, 0.6);
}

.player__progress-bar {
  position: relative;
  height: 3px;

  background-color: rgba(#dbdbdb, 0.2);
}

.player__slider {
  position: absolute;
  top: -4px;
  left: 36px;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
}

.player__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 23px 17px;
}

.player__button {
  position: relative;
  display: block;
  width: 32px;
  height: 20px;

  background: none;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }

  &:active::before {
    opacity: 0.3;
  }

  /* Иконки на панели управления видео */

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 20px;
    content: "";

    background-position: center;
    background-repeat: no-repeat;
  }

  &--replay {
    margin-right: auto;

    &::before {
      background-image: url("../img/icon-video-replay.svg");
    }
  }

  &--subtitle {
    margin-right: 25px;

    &::before {
      background-image: url("../img/icon-video-subtitles.svg");
    }
  }

  &--fullscreen::before {
    background-image: url("../img/icon-video-fullscreen.svg");
  }
}

@media (min-width: 768px) {
  .player {
    width: 648px;
  }

  .player__video {
    height: 500px;
  }

  .player__controls {
    margin: 0;
    margin-top: -93px;
    padding: 36px 0;

    background-color: rgba(#000000, 0.6);
  }

  .player__progress-bar-wrapper {
    top: 45px;
    width: 389px;
    margin-left: 93px;
    padding: 0;

    background-color: transparent;
  }

  .player__slider {
    left: 112px;
  }

  .player__buttons-wrapper {
    padding: 0 27px;
    padding-right: 35px;
  }

  .player__button:hover,
  .player__button:focus {
    opacity: 0.6;
  }

  .player__button:active {
    opacity: 0.3;
  }
}

@media (min-width: 1200px) {
  .player {
    width: 800px;
  }

  .player__progress-bar-wrapper {
    width: 540px;
  }
}
