.site-list {
  @include clearlist();

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;

  background-color: #81b3d2;
}

.site-list__link {
  display: block;
  padding: 7px 0;

  vertical-align: middle;
  color: #ffffff;

  text-decoration: none;
  border-top: 1px solid rgba(#ffffff, 0.2);
  border-bottom: 1px solid rgba(#010101, 0.2);

  &:hover,
  &:focus {
    background-color: #669ec0;

    outline: none;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: #5496bd;
  }
}

.site-list__item:first-child .site-list__link {
  border-top: none;
}

.site-list__item:last-child .site-list__link {
  border-bottom: none;
}

/* Для планшетного макета */

@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: space-around;

    font-size: 14px;
    line-height: 26px;

    background-color: #ffffff;
  }

  .site-list__item {
    width: 230px;

    &:nth-child(2) {
      margin-right: 156px;
    }
  }

  .site-list__link {
    padding: 15px 0;

    color: #000000;

    border: none;

    &:hover,
    &:focus {
      color: #81b3d2;

      background-color: transparent;
    }

    &:active {
      color: rgba(#000000, 0.3);

      background-color: transparent;
    }

    &--active {
      color: #766357;

      &:hover,
      &:focus {
        color: #604e43;
      }

      &:active {
        color: rgba(#604e43, 0.3);
      }
    }
  }
}

@media (min-width: 1200px) {
  .site-list__item:nth-child(2) {
    margin-right: 246px;
  }
}
