.video {
  padding-top: 32px;
  margin-bottom: 40px;
}

.video__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
}

.video__text {
  max-width: 277px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .video {
    padding-top: 67px;
  }

  .video__title {
    margin-bottom: 31px;

    font-size: 30px;
  }

  .video__text {
    max-width: 440px;

    margin-bottom: 73px;
  }
}
