html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
